$webpackLogo: "../assets/webpack-logo.png";

.post {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 30px;
        color: #1c78c0;
        margin-bottom: 20px;
    }

    &__logo {
        background-image: url($webpackLogo);
        background-size: cover;
        width: 200px;
        height: 200px;
    }
}

.analytics {
    position: absolute;
    top: 20px;
    right: 20px;
}

.counter {
    margin-left: 20px;

    .btn {
        width: 50px;
        background-color: #dcd6d6;
        margin-right: 10px;
        border-radius: 5px;
    }
}