@import "~normalize.css ";
@import "roboto.css";

body {
    font-family: 'Roboto', sans-serif;
}

.app {
    color: blueviolet;
    margin-bottom: 20px;
}

.logo {
    background-image: url("../assets/webpack-logo.png");
    background-size: cover;
    width: 200px;
    height: 200px;
}